body {
  background-color: #004400;
}
.header{
  text-align: center;
  padding: 4px;
  color: #ffff1c;
  background-color: #5a5b4f;
  border: 3px solid #ff9900;
  margin-top: 15px;
  margin-left: 150px;
  margin-right: 150px;
}
#doctorForm{
  text-align: center;
  padding: 4px;
  color: #ffff1c;
  background-color: #5a5b4f;
  border: 3px solid #ff9900;
  margin-left: 150px;
  margin-right: 150px;
}
#keywordForm{
  text-align: center;
  padding: 4px;
  color: #ffff1c;
  background-color: #5a5b4f;
  border: 3px solid #ff9900;
  margin-left: 150px;
  margin-right: 150px;
}
#resultBlock {
  text-align: center;
  padding: 4px;
  color: #ffff1c;
  background-color: #5a5b4f;
  border: 3px solid #ff9900;
  margin-left: 150px;
  margin-right: 150px;
}
